.leaflet-control-scale  {	/* scale fix */
	text-align: center;
	position: relative;
	right: -10px;
}

.leaflet-sidebar .close { /* sidebar close button fix */
	z-index: 800;
}
/* .sidebar, .sidebar-tabs {
	top: 222px;
	bottom: 222px;
} */
.sidebar.collapsed {
	height: 50px;
	top: 50%;
	bottom: 150px;
}
.sidebar { /* prevent 100% */
	max-width: 400px;
}

body, button{
	font-family: "adobe garamond";
}

body {
	background-color: #D3D3D3;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body, #container, #map {
	height: 100vh;
}

body > #sidebar {
	/* display: none; */
}

.star {
	font-size: 1.5em;
}

#choosebox{
	position: absolute;
	bottom: 10px;
}

#filename{
	margin-top: 8px;
	padding: 5px;
	height: 100%;
	width: 100%;
	overflow: auto;
}

button{
	float:right;
	position: static;
	margin-top:-1.513px;
	margin-right: 3px;
	border-radius: 3px;
}

.track-info{
	/* text-align: center; */
	padding: 0;
}

li {
	line-height: 1.5em;
	list-style-type: circle;
}

